
header{
background-image: url('./img/desarrollo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
  font-family: 'Oswald', sans-serif;
  color:#F5B041;
}

.subtitulo , h1 {
  font-family: 'Dancing Script', cursive;
  color:#E0F2F1;
}

.fuente {
    font-family: 'Dancing Script', cursive;
}

.naving {
  font-family: 'Dancing Script', cursive;
  color: #E0F2F1;
  background-color: #000000;
}

.fondo {
  background-color: #FDFEFE;
}

body {
  background-color: #000000;
}

.cuppon{
  width: 1336px;
  height: 600px;
}

.row {
  width:auto;
  margin:auto;
  margin-bottom: 2em;
  margin-left: auto;
}

span{
    font-family: 'Dancing Script', cursive;
}

ul{
    font-family: 'Dancing Script', cursive;
}

p{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

h2,h4,button{
    font-family: 'Dancing Script', cursive;
}
